/*google font*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.clear {
  clear: both;
}

::-moz-selection {
  background: #00b0ff;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #00b0ff;
  color: #fff;
  text-shadow: none;
}

.no-mar {
  margin: 0 !important;
}

.no-pad {
  padding: 0 !important;
}

.no-top-pad {
  padding-top: 0 !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bg-theme {
  background-color: #fca83a;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #888;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  letter-spacing: 1px;
}

/*font use*/
/*

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/*===========================
  2.1 Header Area
  ===========================*/

.header-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease 0s;
}

.header-area.header_fix {
  background: #fff;
  z-index: 9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu-area {
}

.logo {
  margin-top: 5px;
}

.logo a {
  display: inline-block;
}

.logo a img {
  max-width: 195px;
  /* box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.05); */
}

.main-menu {
  text-align: right;
}

.main-menu nav ul {
}

.main-menu nav ul li {
  display: inline-block;
}

.main-menu nav ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: block;
  padding: 33px 12px;
  letter-spacing: 0;
  text-transform: capitalize;
}

.main-menu nav ul li a:hover,
.main-menu nav ul li.active a {
  color: #444;
}

/*mobile menu*/
.i-cook {
  font-family: "Courgette", cursive;
  font-size: 250px;
}
.slicknav_menu .slicknav_menutxt {
  display: none;
}

.slicknav_menu {
  background: transparent;
}

.slicknav_btn {
  background-color: transparent;
  position: relative;
  margin-top: -54px;
}

.slicknav_menu .slicknav_icon-bar {
  width: 28px;
  height: 2px;
  margin-bottom: 5px;
  transition: all 0.3s ease 0s;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 0px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
  opacity: 0;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -3px);
}

.slicknav_nav a:hover {
  border-radius: 0;
}

/*===========================
  END Header Area
  ===========================*/

/*===========================
  2.2 Slider Area
  ===========================*/

.slider-area {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0) linear-gradient(130deg, #ff8443, #fca83a) repeat
    scroll 0 0;
}

.slider-content {
  position: relative;
  z-index: 2;
}

.slider-content h2 {
  font-size: 60px;
  color: #fff;
  line-height: 73px;
  letter-spacing: 0;
  font-weight: 400;
}

.slider-content p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0;
  line-height: 30px;
  margin: 28px 0px 39px;
}

.btn-area a {
  height: 50px;
  width: 195px;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
}

.btn-area a:hover {
  background-color: #fff;
  color: #444;
}

.slider-m-img {
}

.slider-m-img img {
  max-width: 268px;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

/*===========================
  END Slider Area
===========================*/

/*===========================
3.2 background-image
===========================*/

.background-image {
  background: url(../img/bg/img-background.jpg) center center/cover no-repeat;
  position: relative;
}

/*===========================
  2.3 about-area
  ===========================*/

.about-area {
}

.about-left-thumb {
}

.about-left-thumb img {
  max-width: 100%;
}

.about-content {
}

.about-content span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: #696969;
}

.about-content h2 {
  font-size: 30px;
  font-weight: 500;
  color: #272727;
  letter-spacing: 0;
  margin: 19px 0px 22px;
}

.about-content p {
  color: #272727;
}

.about-ft {
}

.ft-single {
  overflow: hidden;
  margin-top: 34px;
}

.ft-single .icon {
  float: left;
  margin-right: 23px;
  height: 70px;
  width: 70px;
  border: 1px solid #ff5700;
  color: #ff5700;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  font-size: 22px;
}

.ft-single .ft-info {
  overflow: hidden;
}

.ft-single .ft-info h4 {
  font-size: 18px;
  font-weight: 500;
  color: #272727;
  letter-spacing: 0;
  margin-bottom: 10px;
}

/*===========================
  END about-area
  ===========================*/

.app-download-area {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-preferred-size: 1;
  flex-basis: 1;
  /* margin-top: 50px; */
}

.app-download-btn a {
  border: 1px solid #fca83a;
  background-color: #fff;

  display: -webkit-box;
  display: -ms-flexboxf;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 20px;
  border-radius: 30px 30px 30px 0;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.app-download-btn.active a,
.app-download-btn a:hover {
  border-color: transparent;
  background-color: #fe601a;
}

.app-download-btn a i {
  color: #47425d;
  font-size: 24px;
  margin-right: 15px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.app-download-btn a p {
  font-size: 14px;
  color: #000;
  line-height: 1;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.app-download-btn a p span {
  font-size: 12px;
  display: block;
}

.app-download-btn:first-child {
  margin-right: 20px;
}

.app-download-btn a:hover i,
.app-download-btn.active a i,
.app-download-btn.active a p,
.app-download-btn a:hover p {
  color: #fff;
}

/*===========================
  2.4 Feature Area
  ===========================*/

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title h2 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.01em;
  margin-bottom: 11px;
}

.section-title.text-black h2 {
  color: #272727;
}

.section-title p {
  color: #fff;
}

.section-title.text-black p {
  color: #272727;
}

.feature-area {
}

.feature-content {
}

.feature-list {
  margin-top: 82px;
}

.feature-item {
  position: relative;
  padding-top: 40px;
  z-index: 7;
  margin-top: 27px;
}

.feature-item::before {
  content: "";
  position: absolute;
  right: 34px;
  top: 0;
  height: 40px;
  width: 2px;
  background-color: #fff;
}

.feature-list-right .feature-item::before {
  right: auto;
  left: 34px;
}

.feature-item::after {
  content: "";
  position: absolute;
  right: -55px;
  top: 0;
  height: 2px;
  width: 90px;
  background-color: #fff;
}

.feature-list-right .feature-item::after {
  left: -55px;
  right: 0;
}

.feature-item .icon {
  height: 70px;
  width: 70px;
  display: inline-block;
  background: #fff;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  font-size: 19px;
  color: #ff6818;
  margin-bottom: 11px;
  position: relative;
}

.feature-item .icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -10px;
  height: 11px;
  width: 11px;
  background: #fff;
  border: 1px solid #444;
  border-radius: 50%;
  transform: translateX(-50%);
}

.feature-item h4 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
}

.feature-item p {
  color: #fff;
}

.feature-mscreen {
  text-align: center;
}

.feature-mscreen img {
  max-width: 100%;
}

/*===========================
  END Feature Area
  ===========================*/

/*===========================
  2.5 Screen Slider
  ===========================*/

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-title .title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fca83a;
  font-weight: 600;
}

.text-center.page-title .title:before,
.page-title .title:after {
  content: "";
  width: 50px;
  height: 1px;
  display: inline-block;
  background-color: #e1e1e1;
  margin: 0 15px;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

/*-- 13. Gallery-Area --*/

.gallery-area {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #000;
}

.gallery-slide .owl-stage-outer {
  background: url("../img/mobile/screen-slider/mobile-screen.png") no-repeat
    center right / auto 100%;
}

.gallery-slide .item {
  margin: 58px 17px 70px 15px;
  overflow: hidden;
  border-radius: 2px;
}

.gallery-slide .owl-controls {
  position: static;
  text-align: right;
  padding-right: 80px;
}

.gallery-slide .owl-controls .owl-nav > div {
  display: inline-block;
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  color: rgba(72, 44, 191, 1);
  margin: 5px;
}

.gallery-slide .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  margin: 3px;
}

.gallery-slide .owl-controls .owl-dots .owl-dot span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.gallery-slide .owl-controls .owl-dots .owl-dot.active span {
  opacity: 1;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

/*-- 17. Subscribe-Form --*/

.subscribe-area {
  background-color: #fca83a;
}

.subscribe-form {
  background-color: #ffffff;
  padding: 60px;
  border-radius: 5px;
}

.subscribe-form form {
  position: relative;
}

.subscribe-form form .control {
  width: 100%;
  height: auto;
  padding: 15px 180px 15px 30px;
  border-radius: 60px;
  border: 1px solid #5e88fc;
}

.subscribe-form form .bttn-white {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0;
}

.bttn-white {
  position: relative;
  background: rgb(72, 44, 191);
  background: -webkit-linear-gradient(
    45deg,
    rgb(233, 168, 28) 0%,
    rgba(106, 198, 240, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(72, 44, 191, 1) 0%,
    rgba(106, 198, 240, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(72, 44, 191, 1) 0%,
    rgba(106, 198, 240, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
  overflow: hidden;
  z-index: 1;
  margin-right: 10px;
  border: none;
}

.bttn-white img {
  height: 20px;
  margin-right: 5px;
  margin-top: -5px;
  display: inline-block;
}

.bttn-white:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.bttn-white.active,
.bttn-white:hover {
  color: #ffffff;
}

.bttn-white.active:before,
.bttn-white:hover:before {
  opacity: 0;
}

.bttn-white {
  padding: 12px 30px;
  background-color: #ffffff;
  display: inline-block;
  color: #768ede;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: none;
}

.bttn-white .fa-paper-plane {
  margin-right: 10px;
}

/*===========================
  END Screen Slider
  ===========================*/

/*===========================
2.11 Testimonial Area
===========================*/

.testimonial-area {
}

.testimonial-list {
}

.testimonial-item {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 22px;
}

.tauthor-meta {
  overflow: hidden;
  margin-bottom: 16px;
}

.author-thumb {
  border-radius: 50%;
  float: left;
  border: 2px solid #ff6818;
  padding: 2px;
  margin-right: 17px;
}

.author-thumb img {
  max-width: 90px;
  border-radius: 50%;
}

.author-info {
  overflow: hidden;
}

.author-info h4 {
  font-size: 20px;
  font-weight: 500;
  color: #272727;
  letter-spacing: 0;
}

.author-info span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #272727;
  letter-spacing: 0;
  margin: 5px 0px 2px;
}

.review-stasr i {
  color: #ff6818;
}

.tauthor-text {
}

.tauthor-text p {
  color: #696969;
}

.testimonial-list .owl-dots {
  text-align: center;
  margin-top: 50px;
}

.testimonial-list .owl-dots .owl-dot {
  height: 15px;
  width: 15px;
  border: 1px solid #ff6818;
  display: inline-block;
  border-radius: 50%;
  margin: 0px 4px;
  transition: all 0.3s ease 0s;
}

.testimonial-list .owl-dots .active {
  background-color: #ff6818;
}

/*===========================
END Testimonial Area
===========================*/

/*===========================
2.13 Map Area
===========================*/

#map {
  height: 600px;
}

/*===========================
END Map Area
===========================*/

/*===========================
2.14 Contact Area
===========================*/

.contact-area {
}

.contact-inner {
  background: #fff;
  padding: 90px 0px 100px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: -400px;
}

.contact-flex-container {
  display: flex;
  padding: 0px 90px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-flex-container > div {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-address {
  flex-basis: calc(100% * (4 / 12));
  padding-left: 30px;
}

h4.contact-title {
  font-size: 20px;
  font-weight: 500;
  color: #272727;
  letter-spacing: 0;
  margin-bottom: 11px;
}

.contact-address p {
  color: #696969;
  margin-bottom: 18px;
}

.contact-address ul {
}

.contact-address ul li {
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #696969;
  align-items: center;
  letter-spacing: 0.01em;
}

.contact-address ul li.h-addres {
  font-weight: 400;
  line-height: 25px;
}

.contact-address ul li i {
  height: 30px;
  width: 30px;
  border: 1px solid #ff6818;
  color: #272727;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  font-size: 14px;
  margin-right: 10px;
}

.contact-form {
  flex-basis: calc(100% * (8 / 12) - 30px);
  padding-left: 70px;
  padding-right: 70px;
}

.contact-form form {
}

.contact-form form .input {
  height: 33px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #b4b4b4;
  font-size: 14px;
  font-weight: 500;
  color: #696969;
  letter-spacing: 0;
  margin-bottom: 16px;
}

.contact-form form textarea#msg {
  height: 74px;
}

.contact-form form #send {
  width: 130px;
  height: 40px;
  background: #ff6818;
  border-radius: 20px;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border: none;
  letter-spacing: 0.01em;
  transition: all 0.3s ease 0s;
}

.contact-form form #send:hover {
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.3);
}

/*===========================
END Contact Area
===========================*/

/*===========================
2.15 Footer Area
===========================*/

.footer-area {
}

.footer-inner {
  text-align: center;
}

.footer-inner .fsocial {
  margin-bottom: 44px;
}

.footer-inner .fsocial li {
  display: inline-block;
}

.footer-inner .fsocial li a {
  display: block;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 19px;
  margin: 0px 7px;
}

.footer-inner .fsocial li a:hover {
  background-color: #fff;
  color: #444;
}

.footer-inner p.copy-right {
  color: #fff;
}

/*===========================
END Footer Area
===========================*/
